@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  background: #161622;
  font-family: "Josefin Sans", sans-serif;
}
